.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color
}

.secondary-color-dark {
    color: $secondary-color-dark;
}

.primary-background-color {
 background-color: $base-color;
}

.white-color {
    color: $white-color;
}

.black-color {
    color: $black-color;
}