body {
    background-color: lightgrey;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;

    .wrap-container {
        background-color: $white-color;
        min-height: 100vh;
        padding: 85px 40px;
    }

    input{
        margin: 20px 0;
        width: 300px;
    }
}