[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  -moz-osx-font-smoothing: grayscale; // override reactstrap
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  speak: none;
  text-transform: none;
}

.icon-slack-icon:before {
  content: "\e900";
}
.icon-reviewed:before {
  content: "\e901";
}
.icon-pending-outline:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-info-outline:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e906";
}
.icon-book:before {
  content: "\e907";
}
.icon-certification:before {
  content: "\e908";
}
.icon-conference:before {
  content: "\e909";
}
.icon-course:before {
  content: "\e90a";
}
.icon-other:before {
  content: "\e90b";
}
.icon-subscription:before {
  content: "\e90c";
}
.icon-thumb-down:before {
  content: "\e90d";
}
.icon-thumb-up:before {
  content: "\e90e";
}
.icon-exit:before {
  content: "\e90f";
}
.icon-create:before {
  content: "\e910";
}
.icon-email:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-exclamation:before {
  content: "\e913";
}
.icon-more-options:before {
  content: "\e914";
}
.icon-chevron-down:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e916";
}
.icon-delete-forever:before {
  content: "\e917";
}
.icon-vertical-menu:before {
  content: "\e918";
}
.icon-pending:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e91a";
}
.icon-logout:before {
  content: "\e91b";
}
.icon-aircraft:before {
  content: "\e91c";
}
.icon-chat:before {
  content: "\e91d";
}
.icon-cross:before {
  content: "\e91e";
}
.icon-home:before {
  content: "\e91f";
}
.icon-key:before {
  content: "\e920";
}
.icon-location-pin:before {
  content: "\e921";
}
.icon-magnifying-glass:before {
  content: "\e922";
}
.icon-map:before {
  content: "\e923";
}
.icon-star:before {
  content: "\e924";
}
.icon-keyboard_arrow_right:before {
  content: "\e925";
}
.icon-check_circle:before {
  content: "\e926";
}
.icon-check_circle_outline:before {
  content: "\e927";
}
.icon-arrow_forward_ios:before {
  content: "\e928";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-checkmark:before {
  content: "\ea11";
}
.icon-home1:before {
  content: "\e929";
}
.icon-pencil:before {
  content: "\e92a";
}
.icon-image:before {
  content: "\e92b";
}
.icon-book1:before {
  content: "\e92c";
}
.icon-books:before {
  content: "\e92d";
}
.icon-profile:before {
  content: "\e92e";
}
.icon-file-empty:before {
  content: "\e92f";
}
.icon-stack:before {
  content: "\e930";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-user1:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search1:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-wink2:before {
  content: "\e9e8";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-angry2:before {
  content: "\e9ee";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-evil2:before {
  content: "\e9f0";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-baffled2:before {
  content: "\e9f4";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-confused2:before {
  content: "\e9f6";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-neutral2:before {
  content: "\e9f8";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-hipster2:before {
  content: "\e9fa";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-wondering2:before {
  content: "\e9fc";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-frustrated2:before {
  content: "\ea00";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-crying2:before {
  content: "\ea02";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross1:before {
  content: "\ea0f";
}
.icon-checkmark1:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea12";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-ctrl:before {
  content: "\ea50";
}
