// Colors
$primary-color: #3f51b5;
$primary-color-light: #9ba7e4cc;
$primary-color-dark: #151d49;
$secondary-color: #bbb7b7;
$base-color: #ffffffb0;


// BTN colors
$primary-btn-color: #3498db;
$secondary-btn-color: #2ecc71;
$terciary-btn-color: #f1c40f;
$quaternary-btn-color: #e74c3c;

$white-color: white;
$black-color: black;