.login {
  background-color: none;
  transition: ease-in 0.4s;

  .full-list {
    width: "auto";
  }

  :nth-child(3) {
    // background: linear-gradient(to bottom, $secondary-color, transparent);
    // background-color: #ffffffeb;

    background-image: linear-gradient(
        105deg,
        rgba($white-color, 0.9) 0%,
        rgba($white-color, 0.9) 50%,
        transparent 90%
      ),
      url(../../images/GameCollection.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.2);
  }

  .content {
    padding: 30px 20px;
    width: 350px;

    .login-input {
      margin: 20px 0;
      width: 300px;
    }
  }
}
