.cards-container {
    height: 555px;

    @include respond(phone) {
        height: 195px;
    }

    .cards-media {
        height: 445px;

        @include respond(phone) {
            height: 145px;
        }

        &.position-img {
            background-position: -545px 0px;

            @include respond(phone) {
                background-position: 0px 0px;
            }
        }
    }

    button:focus {
        outline: none;
    }
}

